body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgba(15, 15, 0, 0.897);
}

.banner {
    background-color: rgb(233, 175, 27);
    position: relative;
    max-width: 600px;
    padding: 5px;
    margin: 25px auto;
}

.home button {
    font-size: 16px;
    position: absolute;
    top: 30px;
    left: 30px
}

h1 {
  text-align: center;
}

.menu {
    border: 12px double;
    padding: 0 30px;
    max-width: 600px;
    margin: 30px auto;
    background-color: lightgoldenrodyellow;
    
}

.menu-item {
    border-bottom: 5px dotted;
    padding: 60px;
    margin-bottom: 0px;
}

.last {
    border: 0;
}

.menu button {
    font-size: 32px;
    display: block;
    padding: 10px 30px;
    margin: 16px auto;
}

.menu-item a,
a.home {
    text-decoration: none;
}

.recipe {
    border: 12px double;
    padding: 10px 10px;
    width: 650px;
    margin: 10px auto;
    background-color: lightgoldenrodyellow;

}


.recipe img {
    height: 400px;
    width: 630px;
    display: block;
    padding: 10px;
    margin: 0 auto;
}

/* branch into 
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} 
in the future*/
